.characters {
  width: 100%;
  height: 100%;

  .collection {
    width: 900px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin: 1.5rem auto;
    gap: 1.5rem;
  }
}
